# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized

Some of the commonly used languages used by Data Scientists include:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

# Data Science Tools
1. Jupyter Notebook
2. Anaconda
3. RStudio

### Below are a few examples of evaluating arithmetic expressions in Python
2 + 5
10 * 20
100 / 20

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

[1] 17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

[1] 3.333333

**Objectives:**
- Python
- R
- SQL

## Author
Angel Martinez